@media screen and (max-width: 1500px) {
  .skills_container {
    gap: 0px;
  }
  .skills_container {
    display: flex;
    justify-content: center;
    gap: 10px;
    place-items: center;
  }
  .skills_container .skills_left,
  .skills_container .skills_right {
    width: 300px;

    height: 300px;
  }

  .skills_title {
    display: flex;
    justify-content: flex-start;
    gap: 222px;
    margin-top: 10px;
  }

  .skills_title_css {
    display: flex;
    justify-content: flex-start;
    gap: 220px;
    margin-top: 10px;
  }

  .skills_title_javascript {
    display: flex;
    justify-content: flex-start;
    gap: 65px;
    margin-top: 10px;
  }

  .skills_title_bootstrap {
    display: flex;
    justify-content: flex-start;
    gap: 155px;
    margin-top: 10px;
  }

  .skills_title_angular {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    margin-top: 10px;
  }

  .skills_title_photoshop {
    display: flex;
    justify-content: flex-start;
    gap: 122px;
    margin-top: 10px;
  }
  .skills_title_premierpro {
    display: flex;
    justify-content: flex-start;
    gap: 7px;
    margin-top: 10px;
  }

  .skills_title_lightroom {
    display: flex;
    justify-content: flex-start;
    gap: 4px;
    margin-top: 10px;
  }

  .skills_title_photography {
    display: flex;
    justify-content: flex-start;
    gap: 80px;
    margin-top: 10px;
  }

  .skills_title_videography {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 1400px) {
  .portfolio_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    padding-top: 50px;
    width: 80%;
  }

  .works_wrapper {
    width: 80%;
    height: 240px;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgba(69, 69, 69, 0.219);
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
  .technology_right {
    margin-left: 30px;
  }
  .works_images {
    gap: 5px;
  }
}

@media screen and (max-width: 1200px) {
  .works_wrapper {
    grid-template-columns: 1fr;
    height: 430px;
    width: 70%;
  }
  .technology_right {
    margin-left: 140px;
  }

  .skills_container {
    gap: 0px;
  }
  .skills_container {
    display: flex;
    justify-content: center;
    gap: 10px;
    place-items: center;
  }
  .skills_container .skills_left,
  .skills_container .skills_right {
    width: 250px;

    height: 300px;
  }

  .skills_title {
    display: flex;
    justify-content: flex-start;
    gap: 179px;
    margin-top: 10px;
  }

  .skills_title_css {
    display: flex;
    justify-content: flex-start;
    gap: 178px;
    margin-top: 10px;
  }

  .skills_title_javascript {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    margin-top: 10px;
  }

  .skills_title_bootstrap {
    display: flex;
    justify-content: flex-start;
    gap: 115px;
    margin-top: 10px;
  }

  .skills_title_angular {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    margin-top: 10px;
  }

  .skills_title_photoshop {
    display: flex;
    justify-content: flex-start;
    gap: 85px;
    margin-top: 10px;
  }
  .skills_title_premierpro {
    display: flex;
    justify-content: flex-start;
    gap: 7px;
    margin-top: 10px;
  }

  .skills_title_lightroom {
    display: flex;
    justify-content: flex-start;
    gap: 4px;
    margin-top: 10px;
  }

  .skills_title_photography {
    display: flex;
    justify-content: flex-start;
    gap: 55px;
    margin-top: 10px;
  }

  .skills_title_videography {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 1100px) {
  .technology_right {
    margin: 0 auto;
    padding-top: 0px;
    height: 100%;
    padding-top: 30px;
    width: 60%;
  }
}

@media screen and (max-width: 1060px) {
  .works_wrapper {
    width: 90%;

    padding-top: 20px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 1000px) {
  main .left_section_wrapper .left .left_navigation_fixed {
    width: 80px;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }
  main .left_section_wrapper .left {
    width: 80px;
  }
  main .left_section_wrapper .left .left_navigation_fixed ul li span {
    display: none;
  }
  main .left_section_wrapper .left .left_navigation_fixed ul li a i {
    font-size: 20px;
  }

  main .left_section_wrapper .left .avatar_wrapper a img {
    width: 60px;
    height: 60px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 40px;
    margin-top: 20px;
  }

  main .left_section_wrapper .left .left_footer .social .social_icons {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 10px;
  }
  main .left_section_wrapper .left .nav_wrapper {
    margin-top: 0px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 990px) {
  .skills_container {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }
  .skills_container .skills_left,
  .skills_container .skills_right {
    width: 395px;

    height: 300px;
  }
  .skills_title {
    display: flex;
    justify-content: flex-start;
    gap: 310px;
    margin-top: 10px;
  }

  .skills_title_css {
    display: flex;
    justify-content: flex-start;
    gap: 300px;
    margin-top: 10px;
  }

  .skills_title_javascript {
    display: flex;
    justify-content: flex-start;
    gap: 110px;
    margin-top: 10px;
  }

  .skills_title_bootstrap {
    display: flex;
    justify-content: flex-start;
    gap: 230px;
    margin-top: 10px;
  }

  .skills_title_angular {
    display: flex;
    justify-content: flex-start;
    gap: 85px;
    margin-top: 10px;
  }

  .skills_title_photoshop {
    display: flex;
    justify-content: flex-start;
    gap: 204px;
    margin-top: 10px;
  }
  .skills_title_premierpro {
    display: flex;
    justify-content: flex-start;
    gap: 37px;
    margin-top: 10px;
  }

  .skills_title_lightroom {
    display: flex;
    justify-content: flex-start;
    gap: 28px;
    margin-top: 10px;
  }

  .skills_title_photography {
    display: flex;
    justify-content: flex-start;
    gap: 134px;
    margin-top: 10px;
  }

  .skills_title_videography {
    display: flex;
    justify-content: flex-start;
    gap: 55px;
    margin-top: 10px;
  }

  .works_images {
    gap: 0px;
  }

  .works_images .mobile_bg {
    margin-left: -50px;
    margin-top: -50px;
  }
}

@media screen and (max-width: 750px) {
  .works_images .pc_bg {
    width: 270px;
    height: 160px;
  }

  .works_images .mobile_bg {
    width: 70px;
    height: 140px;
  }
  .technology_right {
    padding-top: 0px;
  }
}

@media screen and (max-width: 700px) {
  main .right .about_wrapper,
  .skills_wrapper,
  .portfolio_wrapper,
  .education_wrapper,
  .contact_wrapper {
    width: 90%;
  }

  main .right .about_wrapper h1,
  main .right .about_wrapper span {
    font-size: 25px;
    text-align: center;
  }
  main .right .about_wrapper p,
  main .right .about_wrapper p span {
    font-size: 15px;
    text-align: center;
  }
  .skills_wrapper h1,
  .portfolio_wrapper h1,
  .education_wrapper h1,
  .contact_wrapper h1 {
    font-size: 25px;
    text-align: center;
  }

  .skills_wrapper p,
  .portfolio_wrapper p,
  .education_wrapper p,
  .contact_wrapper p {
    font-size: 10px;
    text-align: center;
  }
  .skills_container {
    gap: 30px;
  }
}

@media screen and (max-width: 515px) {
  .skills_container .skills_left,
  .skills_container .skills_right {
    width: 300px;
    height: 250px;
  }
  .skills_container .skills_left p,
  .skills_container .skills_right p {
    font-size: 10px;
  }
  .skills_container div h3 {
    font-size: 17px;
  }

  .skills_title {
    gap: 230px;
  }

  .skills_title_css {
    gap: 224px;
  }

  .skills_title_javascript {
    gap: 78px;
  }

  .skills_title_bootstrap {
    gap: 167px;
  }

  .skills_title_angular {
    gap: 58px;
  }

  .skills_title_photoshop {
    gap: 143px;
  }
  .skills_title_premierpro {
    gap: 20px;
  }

  .skills_title_lightroom {
    gap: 13px;
  }

  .skills_title_photography {
    gap: 93px;
  }

  .skills_title_videography {
    gap: 34px;
  }
  .works_images .pc_bg {
    width: 214px;
    height: 122px;
    margin-left: -20px;
  }

  .works_images .mobile_bg {
    width: 52px;
    height: 100px;
  }
}

@media screen and (max-width: 430px) {
  .skills_container .skills_left,
  .skills_container .skills_right {
    width: 240px;
  }
  .skills_container .skills_left p,
  .skills_container .skills_right p {
    font-size: 10px;
  }
  .skills_container div h3 {
    font-size: 17px;
  }

  .skills_title {
    gap: 178px;
  }

  .skills_title_css {
    gap: 176px;
  }

  .skills_title_javascript {
    gap: 50px;
  }

  .skills_title_bootstrap {
    gap: 120px;
  }

  .skills_title_angular {
    gap: 35px;
  }

  .skills_title_photoshop {
    gap: 95px;
  }
  .skills_title_premierpro {
    gap: 5px;
  }

  .skills_title_lightroom {
    gap: 5px;
  }

  .skills_title_photography {
    gap: 60px;
  }

  .skills_title_videography {
    gap: 15px;
  }
}

@media screen and (max-width: 380px) {
  .works_images .pc_bg {
    width: 190px;
    height: 110px;
    margin-left: -20px;
  }

  .works_images .mobile_bg {
    width: 45px;
    height: 90px;
  }
}
